name: Deploy to S3
on:
  push:
    branches: [ main ]
    paths:
      - 'site/**'   # only trigger when files under site/ change
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
   
      - name: Configure AWS credentials (OIDC assume role)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}   # store ARN in a secret
          aws-region: us-east-1
          
      - name: Sync site to S3
        run: |
          echo "Starting S3 sync"
          aws s3 sync site/ s3://cloud-resume-challenge-raman-2025-east1 --delete  # Only site/; replace bucket
          echo "S3 sync complete"
     
      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
          echo "Cloudfront Cache Invalidated"
